
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}
.container {
  box-sizing: border-box;
  padding: 11rem 6.6rem 6.4rem 7.1rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  
}
.container .top {
  margin-bottom: 4.8rem;
  width: 100%;
  height: 32.2rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.container .top .leftside {
  margin: 0.8rem 6.3rem 1.479rem 0rem;
  width: 35.5rem;
  height: calc(100% - 2.2786rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.container .top .leftside .leftwave {
  margin-bottom: 5.6rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.container .top .leftside .leftwave .wave1 {
  margin-bottom: 3.2rem;
  width: 35.5rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.container .top .leftside .leftwave .wave2 {
  width: 35.5rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.container .top .leftside .circle {
  margin: 0rem 11.026rem 0rem 9.125rem;
  width: calc(100% - 20.1501rem);
  height: 17.5214rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.container .top .leftside .circle .leftcircle {
  box-sizing: border-box;
  padding: 0.203rem 0.348rem 0.17rem 0rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.container .top .leftside .circle .leftcircle .leftcircle1 {
  margin: 1.713rem 0.213rem 1.605rem 0rem;
  width: 3.2893rem;
  height: calc(100% - 3.3179rem);
  position: relative;
  flex-shrink: 0;
}
.container .top .leftside .circle .leftcircle .leftcircle1 .i {
  width: 0.6rem;
  height: 3.1rem;
  position: absolute;
  left: 2.6893rem;
  top: 0;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #333333;
  font-family: Times, 'Source Sans Pro';
  white-space: nowrap;
}
.container .top .leftside .circle .leftcircle .leftcircle1 .p {
  width: 1.4rem;
  height: 3.1rem;
  position: absolute;
  left: 1.4783rem;
  top: 0.9226rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #333333;
  font-family: Times, 'Source Sans Pro';
  white-space: nowrap;
}
.container .top .leftside .circle .leftcircle .leftcircle1 .s {
  width: 1.1rem;
  height: 3.1rem;
  position: absolute;
  left: 0.6826rem;
  top: 2.4432rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #333333;
  font-family: Times, 'Source Sans Pro';
  white-space: nowrap;
}
.container .top .leftside .circle .leftcircle .leftcircle1 .u {
  width: 1.4rem;
  height: 3.1rem;
  position: absolute;
  left: 0.1347rem;
  top: 3.9684rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #333333;
  font-family: Times, 'Source Sans Pro';
  white-space: nowrap;
}
.container .top .leftside .circle .leftcircle .leftcircle1 .m {
  width: 2rem;
  height: 3.1rem;
  position: absolute;
  left: 0;
  top: 5.8214rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #333333;
  font-family: Times, 'Source Sans Pro';
  white-space: nowrap;
}
.container .top .leftside .circle .leftcircle .leftcircle1 .d {
  width: 1.4rem;
  height: 3.1rem;
  position: absolute;
  left: 0.4951rem;
  top: 8.5102rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #333333;
  font-family: Times, 'Source Sans Pro';
  white-space: nowrap;
}
.container .top .leftside .circle .leftcircle .leftcircle1 .o {
  width: 1.4rem;
  height: 3.1rem;
  position: absolute;
  left: 1.3211rem;
  top: 9.675rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #333333;
  font-family: Times, 'Source Sans Pro';
  white-space: nowrap;
}
.container .top .leftside .circle .leftcircle .leftcircle1 .l {
  width: 0.7rem;
  height: 3.1rem;
  position: absolute;
  left: 2.4848rem;
  top: 10.7301rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #333333;
  font-family: Times, 'Source Sans Pro';
  white-space: nowrap;
}
.container .top .leftside .circle .leftcircle .leftcircle2 {
  width: 3.4644rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.container .top .leftside .circle .leftcircle .leftcircle2 .leftcircle2-top {
  margin: 0rem 0.155rem 8.907rem 0.116rem;
  width: calc(100% - 0.2713rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.container .top .leftside .circle .leftcircle .leftcircle2 .leftcircle2-top .r {
  margin: 0.972rem 0.293rem 0rem 0rem;
  width: 0.9rem;
  height: 3.1447rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #333333;
  font-family: Times, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.container .top .leftside .circle .leftcircle .leftcircle2 .leftcircle2-top .m {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #333333;
  font-family: Times, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.container .top .leftside .circle .leftcircle .leftcircle2 .leftcircle2-bottom {
  box-sizing: border-box;
  padding-right: 0.9503rem;
  width: 100%;
  height: 4.1243rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.container .top .leftside .circle .leftcircle .leftcircle2 .leftcircle2-bottom .o {
  margin: 0rem 0.214rem 1.024rem 0rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #333333;
  font-family: Times, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.container .top .leftside .circle .leftcircle .leftcircle2 .leftcircle2-bottom .r {
  margin-top: 0.3405rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #333333;
  font-family: Times, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.container .top .leftside .circle .rightcircle {
  height: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.container .top .leftside .circle .rightcircle .e {
  margin: 0rem 0.271rem 11.321rem 0rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #333333;
  font-family: Times, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.container .top .leftside .circle .rightcircle .s {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #333333;
  font-family: Times, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.container .top .leftside .circle .rightcircle-bottom {
  box-sizing: border-box;
  padding: 0.017rem 0rem 0.017rem 0.011rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.container .top .leftside .circle .rightcircle-bottom .rightcircle-bottom1 {
  margin: 0rem 0.023rem 0.036rem 0rem;
  height: calc(100% - 0.0358rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.container .top .leftside .circle .rightcircle-bottom .rightcircle-bottom1 .r {
  margin-bottom: 11.2521rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #333333;
  font-family: Times, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.container .top .leftside .circle .rightcircle-bottom .rightcircle-bottom1 .i {
  margin-left: 0.0863rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #333333;
  font-family: Times, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.container .top .leftside .circle .rightcircle-bottom .rightcircle-bottom2 {
  margin: 0.187rem 0rem 0.266rem 0rem;
  width: 5.6307rem;
  height: calc(100% - 0.4531rem);
  position: relative;
  flex-shrink: 0;
}
.container .top .leftside .circle .rightcircle-bottom .rightcircle-bottom2 .l {
  width: 1.2rem;
  height: 3.1rem;
  position: absolute;
  left: 0.9807rem;
  top: 0.4963rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #333333;
  font-family: Times, 'Source Sans Pro';
  white-space: nowrap;
}
.container .top .leftside .circle .rightcircle-bottom .rightcircle-bottom2 .o {
  width: 1.4rem;
  height: 3.1rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #333333;
  font-family: Times, 'Source Sans Pro';
  white-space: nowrap;
}
.container .top .leftside .circle .rightcircle-bottom .rightcircle-bottom2 .t {
  width: 0.9rem;
  height: 3.1rem;
  position: absolute;
  left: 0.1603rem;
  top: 13.9347rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #333333;
  font-family: Times, 'Source Sans Pro';
  white-space: nowrap;
}
.container .top .leftside .circle .rightcircle-bottom .rightcircle-bottom2 .a {
  width: 1.3rem;
  height: 3.1rem;
  position: absolute;
  left: 1.7295rem;
  top: 12.9326rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #333333;
  font-family: Times, 'Source Sans Pro';
  white-space: nowrap;
}
.container .top .leftside .circle .rightcircle-bottom .rightcircle-bottom2 .m {
  width: 2rem;
  height: 3.1rem;
  position: absolute;
  left: 2.6762rem;
  top: 11.5346rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #333333;
  font-family: Times, 'Source Sans Pro';
  white-space: nowrap;
}
.container .top .leftside .circle .rightcircle-bottom .rightcircle-bottom2 .e{
  width: 1.2rem;
  height: 3.1rem;
  position: absolute;
  left: 3.8831rem;
  top: 10.5164rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #333333;
  font-family: Times, 'Source Sans Pro';
  white-space: nowrap;
}
.container .top .leftside .circle .rightcircle-bottom .rightcircle-bottom2 .t {
  width: 0.9rem;
  height: 3.1rem;
  position: absolute;
  left: 4.4076rem;
  top: 9.6975rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #333333;
  font-family: Times, 'Source Sans Pro';
  white-space: nowrap;
}
.container .top .leftside .circle .rightcircle-bottom .rightcircle-bottom2 .item {
  width: 0.6rem;
  height: 3.1rem;
  position: absolute;
  left: 4.6397rem;
  top: 8.8952rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #333333;
  font-family: Times, 'Source Sans Pro';
  white-space: nowrap;
}
.container .top .leftside .circle .rightcircle-bottom .rightcircle-bottom2 .c {
  width: 1.1rem;
  height: 3.1rem;
  position: absolute;
  left: 4.5307rem;
  top: 6.3158rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #333333;
  font-family: Times, 'Source Sans Pro';
  white-space: nowrap;
}
.container .top .leftside .circle .rightcircle-bottom .rightcircle-bottom2 .o{
  width: 1.4rem;
  height: 3.1rem;
  position: absolute;
  left: 4.0478rem;
  top: 4.5542rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #333333;
  font-family: Times, 'Source Sans Pro';
  white-space: nowrap;
}
.container .top .leftside .circle .rightcircle-bottom .rightcircle-bottom2 .n {
  width: 1.4rem;
  height: 3.1rem;
  position: absolute;
  left: 3.3192rem;
  top: 2.9724rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #333333;
  font-family: Times, 'Source Sans Pro';
  white-space: nowrap;
}
.container .top .leftside .circle .rightcircle-bottom .rightcircle-bottom2 .s {
  width: 1.1rem;
  height: 3.1rem;
  position: absolute;
  left: 2.5142rem;
  top: 1.7878rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #333333;
  font-family: Times, 'Source Sans Pro';
  white-space: nowrap;
}
.container .top .middle-text {
  margin-right: 6.8rem;
  width: 46.2rem;
  height: 100%;
  row-gap: 2.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.container .top .middle-text .heading {
  max-width: 46.2rem;
  text-align: center;
  font-size: 7.2rem;
  font-weight: 700;
  line-height: 1.1111111111;
  color: #252525;
  font-family: Times New Roman, 'Source Sans Pro';
  flex-shrink: 0;
}
.container .top .middle-text .autop {
  max-width: 40.5rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #252525;
  font-family: Times New Roman, 'Source Sans Pro';
  flex-shrink: 0;
}
.container .top .middle-text .button {
  margin: 0 17.05rem;
  width: calc(100% - 34.1rem);
  height: 5rem;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.125;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #252525;
  border-radius: 2.4rem;
  flex-shrink: 0;
  border: none;
}
.container .top .rightside {
  margin: 0.8rem 0rem 1.731rem 0rem;
  width: 35.5rem;
  height: calc(100% - 2.5309rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.container .top .rightside .circle {
  margin: 0rem 11.026rem 5.348rem 9.125rem;
  width: calc(100% - 20.1501rem);
  height: 17.5214rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.container .top .rightside .circle .leftcircle{
  box-sizing: border-box;
  padding: 0.203rem 0.348rem 0.17rem 0rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.container .top .rightside .circle .leftcircle .leftcircle1 {
  margin: 1.713rem 0.213rem 1.605rem 0rem;
  width: 3.2893rem;
  height: calc(100% - 3.3179rem);
  position: relative;
  flex-shrink: 0;
}
.container .top .rightside .circle .leftcircle .leftcircle1 .i {
  width: 0.6rem;
  height: 3.1rem;
  position: absolute;
  left: 2.6893rem;
  top: 0;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #333333;
  font-family: Times, 'Source Sans Pro';
  white-space: nowrap;
}
.container .top .rightside .circle .leftcircle .leftcircle1 .p {
  width: 1.4rem;
  height: 3.1rem;
  position: absolute;
  left: 1.4783rem;
  top: 0.9226rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #333333;
  font-family: Times, 'Source Sans Pro';
  white-space: nowrap;
}
.container .top .rightside .circle .leftcircle .leftcircle1 .s {
  width: 1.1rem;
  height: 3.1rem;
  position: absolute;
  left: 0.6826rem;
  top: 2.4432rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #333333;
  font-family: Times, 'Source Sans Pro';
  white-space: nowrap;
}
.container .top .rightside .circle .leftcircle .leftcircle1 .u {
  width: 1.4rem;
  height: 3.1rem;
  position: absolute;
  left: 0.1347rem;
  top: 3.9684rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #333333;
  font-family: Times, 'Source Sans Pro';
  white-space: nowrap;
}
.container .top .rightside .circle .leftcircle .leftcircle1 .m {
  width: 2rem;
  height: 3.1rem;
  position: absolute;
  left: 0;
  top: 5.8214rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #333333;
  font-family: Times, 'Source Sans Pro';
  white-space: nowrap;
}
.container .top .rightside .circle .leftcircle .leftcircle1 .d {
  width: 1.4rem;
  height: 3.1rem;
  position: absolute;
  left: 0.4951rem;
  top: 8.5102rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #333333;
  font-family: Times, 'Source Sans Pro';
  white-space: nowrap;
}
.container .top .rightside .circle .leftcircle .leftcircle1 .o {
  width: 1.4rem;
  height: 3.1rem;
  position: absolute;
  left: 1.3211rem;
  top: 9.675rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #333333;
  font-family: Times, 'Source Sans Pro';
  white-space: nowrap;
}
.container .top .rightside .circle .leftcircle .leftcircle1 .l {
  width: 0.7rem;
  height: 3.1rem;
  position: absolute;
  left: 2.4848rem;
  top: 10.7301rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #333333;
  font-family: Times, 'Source Sans Pro';
  white-space: nowrap;
}
.container .top .rightside .circle .leftcircle .leftcircle2 {
  width: 3.4644rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.container .top .rightside .circle .leftcircle .leftcircle2 .leftcircle2-top {
  margin: 0rem 0.155rem 8.907rem 0.116rem;
  width: calc(100% - 0.2713rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.container .top .rightside .circle .leftcircle .leftcircle2 .leftcircle2-top .r {
  margin: 0.972rem 0.293rem 0rem 0rem;
  width: 0.9rem;
  height: 3.1447rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #333333;
  font-family: Times, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.container .top .rightside .circle .leftcircle .leftcircle2 .leftcircle2-top .m{
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #333333;
  font-family: Times, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.container .top .rightside .circle .leftcircle .leftcircle2 .leftcircle2-bottom {
  box-sizing: border-box;
  padding-right: 0.9503rem;
  width: 100%;
  height: 4.1243rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.container .top .rightside .circle .leftcircle .leftcircle2 .leftcircle2-bottom .o {
  margin: 0rem 0.214rem 1.024rem 0rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #333333;
  font-family: Times, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.container .top .rightside .circle .leftcircle .leftcircle2 .leftcircle2-bottom .r {
  margin-top: 0.3405rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #333333;
  font-family: Times, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.container .top .rightside .circle .rightcircle {
  height: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.container .top .rightside .circle .rightcircle .e {
  margin: 0rem 0.271rem 11.321rem 0rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #333333;
  font-family: Times, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.container .top .rightside .circle .rightcircle .s {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #333333;
  font-family: Times, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.container .top .rightside .circle .rightcircle1 {
  box-sizing: border-box;
  padding: 0.017rem 0rem 0.017rem 0.011rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.container .top .rightside .circle .rightcircle1 .rightcircle1-left{
  margin: 0rem 0.023rem 0.036rem 0rem;
  height: calc(100% - 0.0358rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.container .top .rightside .circle .rightcircle1 .rightcircle1-left .r {
  margin-bottom: 11.2521rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #333333;
  font-family: Times, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.container .top .rightside .circle .rightcircle1 .rightcircle1-left .i {
  margin-left: 0.0863rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #333333;
  font-family: Times, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.container .top .rightside .circle .rightcircle1 .rightcircle1-right {
  margin: 0.187rem 0rem 0.266rem 0rem;
  width: 5.6307rem;
  height: calc(100% - 0.4531rem);
  position: relative;
  flex-shrink: 0;
}
.container .top .rightside .circle .rightcircle1 .rightcircle1-right .l{
  width: 1.2rem;
  height: 3.1rem;
  position: absolute;
  left: 0.9807rem;
  top: 0.4963rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #333333;
  font-family: Times, 'Source Sans Pro';
  white-space: nowrap;
}
.container .top .rightside .circle .rightcircle1 .rightcircle1-right .o {
  width: 1.4rem;
  height: 3.1rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #333333;
  font-family: Times, 'Source Sans Pro';
  white-space: nowrap;
}
.container .top .rightside .circle .rightcircle1 .rightcircle1-right .t {
  width: 0.9rem;
  height: 3.1rem;
  position: absolute;
  left: 0.1603rem;
  top: 13.9347rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #333333;
  font-family: Times, 'Source Sans Pro';
  white-space: nowrap;
}
.container .top .rightside .circle .rightcircle1 .rightcircle1-right .a {
  width: 1.3rem;
  height: 3.1rem;
  position: absolute;
  left: 1.7295rem;
  top: 12.9326rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #333333;
  font-family: Times, 'Source Sans Pro';
  white-space: nowrap;
}
.container .top .rightside .circle .rightcircle1 .rightcircle1-right .m {
  width: 2rem;
  height: 3.1rem;
  position: absolute;
  left: 2.6762rem;
  top: 11.5346rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #333333;
  font-family: Times, 'Source Sans Pro';
  white-space: nowrap;
}
.container .top .rightside .circle .rightcircle1 .rightcircle1-right .e {
  width: 1.2rem;
  height: 3.1rem;
  position: absolute;
  left: 3.8831rem;
  top: 10.5164rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #333333;
  font-family: Times, 'Source Sans Pro';
  white-space: nowrap;
}
.container .top .rightside .circle .rightcircle1 .rightcircle1-right .t {
  width: 0.9rem;
  height: 3.1rem;
  position: absolute;
  left: 4.4076rem;
  top: 9.6975rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #333333;
  font-family: Times, 'Source Sans Pro';
  white-space: nowrap;
}
.container .top .rightside .circle .rightcircle1 .rightcircle1-right .item {
  width: 0.6rem;
  height: 3.1rem;
  position: absolute;
  left: 4.6398rem;
  top: 8.8952rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #333333;
  font-family: Times, 'Source Sans Pro';
  white-space: nowrap;
}
.container .top .rightside .circle .rightcircle1 .rightcircle1-right .c {
  width: 1.1rem;
  height: 3.1rem;
  position: absolute;
  left: 4.5307rem;
  top: 6.3158rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #333333;
  font-family: Times, 'Source Sans Pro';
  white-space: nowrap;
}
.container .top .rightside .circle .rightcircle1 .rightcircle1-right .o {
  width: 1.4rem;
  height: 3.1rem;
  position: absolute;
  left: 4.0478rem;
  top: 4.5542rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #333333;
  font-family: Times, 'Source Sans Pro';
  white-space: nowrap;
}
.container .top .rightside .circle .rightcircle1 .rightcircle1-right .n {
  width: 1.4rem;
  height: 3.1rem;
  position: absolute;
  left: 3.3192rem;
  top: 2.9724rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #333333;
  font-family: Times, 'Source Sans Pro';
  white-space: nowrap;
}
.container .top .rightside .circle .rightcircle1 .rightcircle1-right .s {
  width: 1.1rem;
  height: 3.1rem;
  position: absolute;
  left: 2.5142rem;
  top: 1.7878rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #333333;
  font-family: Times, 'Source Sans Pro';
  white-space: nowrap;
}
.container .top .rightside .rightwave {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.container .top .rightside .rightwave .wave1 {
  margin-bottom: 3.2rem;
  width: 35.5rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.container .top .rightside .rightwave .wave2 {
  width: 35.5rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.container .bottom {
  margin: 0rem 2.3rem 0rem 1.9rem;
  width: calc(100% - 4.2rem);
  height: 58.9rem;
  position: relative;
  flex-shrink: 0;
}
.container .bottom .image-left {
  width: 126.1rem;
  height: 58.2rem;
  position: absolute;
  left: 0;
  top: 0.7rem;
  display: flex;
  align-items: center;
}
.container .bottom .image-left .image-left1 {
  box-sizing: border-box;
  padding-right: 2.4rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.container .bottom .image-left .image-left1 .left-1 {
  margin: 23rem 2.4rem 10.2rem 0rem;
  width: 18rem;
  height: calc(100% - 33.2rem);
  overflow: hidden;
  position: relative;
  background-color: #909090;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/left-bg.png');
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.container .bottom .image-left .image-left1 .left-2 {
  margin-bottom: 4.1rem;
  width: 25.7rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.container .bottom .image-left .image-left1 .left-2 .left-2-1 {
  margin-bottom: 1.6rem;
  width: 100%;
  height: 27.3rem;
  overflow: hidden;
  position: relative;
  background-color: #909090;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/frame-14248-bg.png');
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.container .bottom .image-left .image-left1 .left-2 .left-2-2 {
  width: 100%;
  height: 25.2rem;
  overflow: hidden;
  position: relative;
  background-color: #909090;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/frame-14249-bg.png');
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.container .bottom .image-left .image-middle {
  width: 29.1rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: #909090;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/middle-bg.png');
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.container .bottom .image-left .image-right {
  box-sizing: border-box;
  padding: 4.1rem 0rem 0rem 2.4rem;
  height: 100%;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.container .bottom .image-left .image-right .right-2 {
  margin-right: 2.4rem;
  width: 25.7rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.container .bottom .image-left .image-right .right-2 .right-2-1 {
  margin-bottom: 1.6rem;
  width: 100%;
  height: 27.3rem;
  overflow: hidden;
  position: relative;
  background-color: #909090;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/frame-14252-bg.png');
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.container .bottom .image-left .image-right .right-2 .right-2-2 {
  width: 100%;
  height: 25.2rem;
  overflow: hidden;
  position: relative;
  background-color: #909090;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/frame-14251-bg.png');
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.container .bottom .image-left .image-right .right-1 {
  width: 18rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.container .bottom .image-left .image-right .right-1 .right-1 {
  margin-bottom: 3.2rem;
  width: 100%;
  height: 25rem;
  overflow: hidden;
  position: relative;
  background-color: #909090;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/right-bg.png');
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.container .bottom .image-left .image-right .right-1 .text {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.container .bottom .image-left .image-right .right-1 .text .p{
  margin-bottom: 2.4rem;
  max-width: 10.5rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.5;
  font-style: italic;
  color: #252525;
  font-family: Times New Roman, 'Source Sans Pro';
  flex-shrink: 0;
}
.container .bottom .image-left .image-right .right-1 .text .line {
  width: 9.8rem;
  height: 0.6rem;
  background-color: #252525;
  flex-shrink: 0;
}
.container .bottom .text-left {
  width: 17.5rem;
  height: 17.4rem;
  position: absolute;
  left: 0;
  top: 0;
}
.container .bottom .text-left .p {
  margin-bottom: 2.4rem;
  max-width: 17.5rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.7142857143;
  font-style: italic;
  color: #252525;
  font-family: Times New Roman, 'Source Sans Pro';
}
.container .bottom .text-left .line {
  width: 16.2rem;
  height: 0.6rem;
  background-color: #252525;
}
